@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(2,1fr);
        /* background-color: tomato; */
    }
    .blogs, .courses{
        grid-template-columns: repeat(1,1fr);
        /* background-color: tomato; */
    }
    .course{
        width: 100%;

    }
    .player{
        flex-direction: column;
    }
    .course_banner img {
        width: 460px;
        height: 208px;


    }
}

@media only screen and (min-width:689px) and (max-width:992px) {
    .container{
        width: 100%;
    }
    .players, .courses {
        grid-template-columns: repeat(2,1fr);
    }
    .blogs {
        grid-template-columns: repeat(1,1fr);
        /* background-color: tomato; */
    }
    .course{
        width: 100%;

    }
    .player{
        flex-direction: column;
    }
    .course_banner img {
        width: 360px;
        height: 208px;


    }
}